.entry{ id: "entry-#{post_num}" }

  - if entry[:is_dir]
    %a.item{ href: "/admin/browser#{current_dir}/#{entry[:path]}" }= entry[:path]
  - if not entry[:is_dir]
    %a.item{ href: "/static#{current_dir}/#{entry[:path]}" }= entry[:path]
    
  %a.item_option{ href: "javascript:;", onclick: "rm_file(\"entry-#{post_num}\",\"#{current_dir}/#{entry[:path]}\")" } delete
  %a.item_option{ href: "javascript:;", onclick: "rn_file(\"entry-#{post_num}\",\"#{current_dir}\",\"#{entry}\")" } rename
